:root {
    --primary: #850E35;
    --secondary: #EE6983;
    --tertiary1: #FFC4C4;
    --tertiary2: #FCF5EE;
    --textColor: #ff689a;
    --neutral: #2a2a2a;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Aeonik;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Aeonik;
    src: url(./fonts/fonnts.com-Aeonik-Regular.ttf);
}


main {
    height: 100%;
    width: 100%;
}

section.allElems {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    background-color: var(--primary);

    position: absolute;
}

nav {
    background-color: var(--tertiary1);
    width: 100%;
    height: 3rem;
}

.elem {
    height: 320px;
    width: 250px;
    background-color: var(--tertiary1);
    border-radius: 0.8rem;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 1px 1px 5px 2px var(--secondary);
}

.elem:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 5px 2px var(--tertiary1);
}

.elem:active {
    transform: scale(0.97);
}

.elem img {
    border: 2px solid var(--tertiary1);
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
    object-fit: cover;
    object-position: center;
}

.elem p {
    position: absolute;
    bottom: 8px;
    right: 15px;
    color: var(--neutral);
    font-size: 1.2rem;
}

.fullElem {
    height: 100%;
    width: 100%;
    display: none;
    background-color: var(--primary);
    padding: 1rem;
    position: absolute;
}

.fullElem h1 {
    font-weight: 50;
    color: var(--tertiary1);
    margin-left: 0.5rem;
    margin-top: 2rem;
}

.fullElem .backBtn {
    position: absolute;
    right: 1.8rem;
    top: 2.5rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: var(--tertiary1);
    color: var(--primary);
    transition: all 0.3s ease;
    box-shadow: 1px 2px 7px var(--secondary);
}

.fullElem .backBtn:hover {
    scale: 1.03;
    background-color: var(--tertiary2);
    color: var(--primary);
    box-shadow: 1px 2px 7px var(--tertiary1);
}

.fullElem .backBtn:active {
    scale: 0.95;
}

/* To-do Page Styles */

.toDo-full-Page {
    height: 98vh;
}

.fullElem h1 {
    font-weight: 50;
    color: var(--tertiary1);
    margin-left: 0.5rem;
    margin-top: 1rem;
    text-shadow: 4px 4px 5px var(--secondary);
    font-size: 2.5rem;
}

/* todo-container page styles */
.toDo-full-Page .todo-container {
    margin-top: 3rem;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.todo-container .AddTask {
    height: 75vh;
    width: 45%;
    background-color: var(--tertiary1);
    border-radius: 0.5rem;
}

.todo-container .AddTask {
    padding: 1.5rem;
}

.todo-container .AddTask form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.todo-container .AddTask form h3 {
    color: var(--secondary);
    text-align: center;
    transform: translate(-4%, -4%);
    font-size: 2rem;
    margin-bottom: 0.5rem;
    /* text-shadow: 2.5px 2.5px 4px var(--primary); */
    text-shadow: 4px 4px 5px var(--secondary);
}

.todo-container .AddTask form input,
.todo-container .AddTask form textarea {
    padding: 0.5rem;
    border: 2px solid var(--secondary);
    border-radius: 0.3rem;
    font-size: 1rem;
    outline: none;
    font-family: Aeonik;
    font-size: 1.2rem;
    background-color: var(--tertiary2);
    color: var(--neutral);
}

.todo-container .mark-imp {
    background-color: var(--tertiary2);
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.3rem;
    border: 2px solid var(--secondary);
    padding: 0.5rem;
}

.todo-container .mark-imp #check {
    scale: 1.3;
}

.todo-container .mark-imp label {
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
}

.todo-container .AddTask form button {
    padding: 0.6rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--secondary);
    color: var(--tertiary2);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.35s ease;
    box-shadow: 1px 2px 7px var(--secondary);
}

.todo-container .AddTask form button:hover {
    box-shadow: 1px 2px 7px var(--primary);
}

.todo-container .AddTask form button:active {
    scale: 0.98;
}

/* "allTask" STYLES */
.todo-container .allTask {
    height: 100%;
    background-color: var(--tertiary1);
    width: 50%;
    border-radius: 0.5rem;
}

.todo-container .allTask {
    padding: 1.5rem;
    overflow: auto;
    height: 75vh;
}

.todo-container .allTask>h3 {
    text-align: center;
    font-size: 1.8rem;
    color: var(--secondary);
    /* text-shadow: 2.5px 2.5px 4px var(--primary); */
    text-shadow: 4px 4px 5px var(--secondary);
}

.allTask .eachTask {
    background-color: var(--tertiary2);
    padding: 0.9rem 0.8rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 7px var(--secondary);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.allTask .eachTask:hover {
    box-shadow: 2px 4px 10px var(--secondary);
    transform: scale(1.005);
}

.allTask .eachTask:active {
    transform: scale(0.99);
}

.allTask .eachTask {
    margin-top: 1rem;
    position: relative;
}

.allTask .eachTask h3 {
    color: var(--secondary);
    font-size: 1.2rem;
}

.allTask .eachTask span {
    position: absolute;
    top: 0.2rem;
    left: 7rem;
    color: var(--tertiary1);
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
    background-color: #2a2a2a;
    text-align: center;
}

.allTask .eachTask span.true {
    opacity: 1;
}

.allTask .eachTask span.false {
    opacity: 0;
}

.allTask .eachTask button {
    padding: 0.5rem 0.6rem;
    min-width: fit-content;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--secondary);
    color: var(--tertiary2);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 1px 2px 7px var(--secondary);
}

.allTask .eachTask button:hover {
    box-shadow: 1px 2px 7px var(--primary);
}

.allTask .eachTask button:active {
    scale: 0.99;
    box-shadow: 1px 2px 7px var(--secondary);
}

@media (max-width: 750px) {

    .fullElem .backBtn {
        top: 0.8rem;
        right: 0.8rem;
        padding: 0.2rem 0.6rem;
        font-size: 1.2rem;
    }

    .fullElem h1 {
        margin-top: 1.3rem;
    }

    /* =============================
        "toDo full page" Media Query
    ================================ */

    .toDo-full-Page {
        height: auto;
    }

    .toDo-full-Page h1 {
        font-size: 1.8rem;
    }

    .toDo-full-Page .todo-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .todo-container .AddTask {
        width: 100%;
        height: auto;
    }

    .todo-container .allTask {
        overflow: auto;
        width: 100%;
        height: 65vh;
    }

    .todo-container .AddTask form h3 {
        font-size: 1.5rem;
        transform: none;
    }

    .todo-container .AddTask form input,
    .todo-container .AddTask form textarea {
        font-size: 1rem;
    }

    .allTask .eachTask {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.6rem;
    }

    .allTask .eachTask span {
        position: static;
    }


}

@media (min-width: 820px) {

    /* =============================
        "toDo full page" Media Query
    ================================ */
    section.allElems {
        height: 100%;
    }


}

@media (min-width: 750px) {

    /* =============================
        "toDo full page" Media Query
    ================================ */
    .toDo-full-Page {
        height: 100%;
    }

    /* =============================
        "dailyPlanner page" Media Query
    ================================ */
}

@media (max-width: 870px) {
    .dailyPlanner-features input {
        /* width: fit-content; */
    }
}

/* ==============================
    "dailyPlanner Full Page" styles
================================= */

.dailyPlanner-full-Page .dailyPlanner-container {
    background-color: var(--secondary);
    height: 87%;
    margin: 0.8rem 0.6rem;
    border-radius: 0.3rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
}

.dailyPlanner-features {
    position: relative;
}

.dailyPlanner-features input {
    background-color: var(--tertiary1);
    margin-bottom: 1rem;
    outline: none;
    border: none;
    border-radius: 0.15rem;
    padding: 1.2rem 0.8rem;
    font-size: 1.1rem;
    min-width: 40vw;
    color: var(--neutral);
    opacity: 1;
    box-shadow: 2px 2px 5px var(--primary);

    transition: all 0.4s ease;
}

.dailyPlanner-features input:hover {
    box-shadow: 1px 2px 5px var(--tertiary1);
}

.dailyPlanner-features p {
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    left: 0.4rem;
    top: 0.1rem;
    opacity: 1;
    color: var(--neutral);
}

