:root {
    --primary: #850E35;
    --secondary: #EE6983;
    --tertiary1: #FFC4C4;
    --tertiary2: #FCF5EE;
    --textColor: #ff689a;
    --neutral: #2a2a2a;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Aeonik;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Aeonik;
    src: url(./fonts/fonnts.com-Aeonik-Regular.ttf);
}


main {
    height: 100%;
    width: 100%;
}

section.allElems {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--primary);

    position: absolute;
}

nav {
    background-color: var(--tertiary1);
    width: 100%;
    height: 3rem;
}

.elem {
    height: 320px;
    width: 250px;
    background-color: var(--tertiary1);
    border-radius: 0.8rem;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 1px 1px 5px 2px var(--secondary);
}

.elem:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 5px 2px var(--tertiary1);
}
.elem:active {
    transform: scale(0.97);
}

.elem img {
    border: 2px solid var(--tertiary1);
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
    object-fit: cover;
    object-position: center;
}

.elem p {
    position: absolute;
    bottom: 8px;
    right: 15px;
    color: var(--neutral);
    font-size: 1.2rem;
}


.fullElem {
    height: 100%;
    width: 100%;
    display: none;
    background-color: var(--primary);
    padding: 1rem;
    position: absolute;
}

.fullElem h1 {
    font-weight: 50;
    color: var(--tertiary1);
    margin-left: 0.5rem;
    margin-top: 2rem;
}

.fullElem .backBtn {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: var(--tertiary1);
    color: var(--primary);
    transition: all 0.3s ease;
    box-shadow: 1px 2px 7px var(--secondary);
}
.fullElem .backBtn:hover {
    scale: 1.03;
    background-color: var(--tertiary2);
    color: var(--primary);
    box-shadow: 1px 2px 7px var(--tertiary1);
}
.fullElem .backBtn:active {
    scale: 0.95;
}

/* To-do Page Styles */

.toDo-full-Page {
    display: block;
}

.toDo-full-Page h1 {
    font-weight: 50;
    color: var(--tertiary1);
    margin-left: 0.5rem;
    margin-top: 1rem;
    text-shadow: 4px 4px 5px var(--secondary);
    font-size: 2.5rem;
}
/* todo-container page styles */
.toDo-full-Page .todo-container {
    margin-top: 3rem;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.todo-container .AddTask {
    height: 100%;
    width: 42%;
    background-color: var(--tertiary1);
    border-radius: 0.5rem;
}

.todo-container .allTask {
    height: 100%;
    background-color: var(--tertiary1);
    width: 55%;
    border-radius: 0.5rem;
}

.todo-container .AddTask {
    padding: 1.5rem;
}
.todo-container .AddTask form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.todo-container .AddTask form h3 {
    color: var(--secondary);
    text-align: center;
    transform: translate(-4%, -4%);
    font-size: 2rem;
    margin-bottom: 0.5rem;
    /* text-shadow: 2.5px 2.5px 4px var(--primary); */
    text-shadow: 4px 4px 5px var(--secondary);
}

.todo-container .AddTask form input,
.todo-container .AddTask form textarea {
    padding: 0.5rem;
    border: 2px solid var(--secondary);
    border-radius: 0.3rem;
    font-size: 1rem;
    outline: none;
    font-family: Aeonik;
    font-size: 1.2rem;
    background-color: var(--tertiary2);
    color: var(--neutral);
}

.todo-container .AddTask form button {
    padding: 0.6rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--secondary);
    color: var(--tertiary2);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.35s ease;
    box-shadow: 1px 2px 7px var(--secondary);
}
.todo-container .AddTask form button:hover {
    box-shadow: 1px 2px 7px var(--primary);
}
.todo-container .AddTask form button:active {
    scale: 0.98;
}
/* allTask page styles */
.todo-container .allTask {
    padding: 1.5rem;
    overflow: auto;
}

.todo-container .allTask > h3 {
    text-align: center;
    font-size: 1.8rem;
    color: var(--secondary);
    /* text-shadow: 2.5px 2.5px 4px var(--primary); */
    text-shadow: 4px 4px 5px var(--secondary);
}

.allTask .eachTask {
    background-color: var(--tertiary2);
    padding: 0.9rem 0.8rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 7px var(--secondary);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.allTask .eachTask:hover {
    box-shadow: 2px 4px 10px var(--secondary);
    transform: scale(1.005);
}
.allTask .eachTask:active {
    transform: scale(0.99);
}

.todo-container .eachTask {
    margin-top: 1rem;
}

.todo-container .eachTask h3 {
    color: var(--secondary);
    font-size: 1.2rem;
}

.todo-container .eachTask button {
    padding: 0.5rem 0.6rem;
    min-width: fit-content;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--secondary);
    color: var(--tertiary2);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 1px 2px 7px var(--secondary);
}
.todo-container .eachTask button:hover {
    box-shadow: 1px 2px 7px var(--primary);
}
.todo-container .eachTask button:active {
    scale: 0.99;
    box-shadow: 1px 2px 7px var(--secondary);
}