:root {
    --primary: #30364F;
    --secondary: #ACBAC4;
    --tertiary1: #E1D9BC;
    --tertiary2: #F0F0DB;
    --textColor: #becfdb;
    --neutral: #2a2a2a;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Aeonik;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Aeonik;
    src: url(./fonts/fonnts.com-Aeonik-Regular.ttf);
}

main {
    height: 100%;
    width: 100%;
}

/* ================================
    "Nav-Bar page" styles
=================================== */

nav {
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
}

nav .theme {
    background-color: var(--textColor);
    padding: 0.8rem 0.6rem;
    border-radius: 0.2rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.theme h2 {
    font-size: 1.6rem;
    color: var(--primary);
    font-weight: bolder;
}

.theme button {
    padding: 0.4rem 0.7rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    transition: 0.8s ease;
    cursor: pointer;
    box-shadow: 1.5px 2px 5px var(--primary);
    background-color: var(--primary);
    color: var(--tertiary2);
}

.theme button:hover {
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: 1.5px 2px 5px var(--primary);
    scale: 1.03;
}

.theme button:active {
    scale: 0.90;
}

/* ================================
    "All elems page" styles
=================================== */

section.allElems {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    background-color: var(--primary);

    position: absolute;
}

.elem {
    height: 320px;
    width: 250px;
    background-color: var(--tertiary1);
    border-radius: 0.8rem;
    position: relative;
    transition: all 0.28s ease;
    cursor: pointer;
    box-shadow: 1px 1px 5px 2px var(--secondary);
}

.elem:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 5px 2px var(--tertiary1);
}

.elem:active {
    transform: scale(0.98);
}

.elem img {
    border: 2px solid var(--tertiary1);
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
    object-fit: cover;
    object-position: center;
}

.elem p {
    position: absolute;
    bottom: 8px;
    right: 15px;
    color: var(--neutral);
    font-size: 1.2rem;
}

.fullElem {
    height: 100%;
    width: 100%;
    display: none;
    background-color: var(--primary);
    padding: 1rem;
    position: absolute;
}

.fullElem h1 {
    font-weight: 50;
    color: var(--tertiary1);
    margin-left: 0.5rem;
    margin-top: 2rem;
}

.fullElem .backBtn {
    position: absolute;
    right: 1.8rem;
    top: 2.5rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: var(--tertiary1);
    color: var(--primary);
    transition: all 0.3s ease;
    box-shadow: 1px 2px 7px var(--secondary);
}

.fullElem .backBtn:hover {
    scale: 1.03;
    background-color: var(--tertiary2);
    color: var(--primary);
    box-shadow: 1px 2px 7px var(--tertiary1);
}

.fullElem .backBtn:active {
    scale: 0.95;
}

/* ================================
    " To-do full page" styles
=================================== */

/* Styles */

.toDo-full-Page {
    height: 98vh;
}

.fullElem h1 {
    font-weight: 50;
    color: var(--tertiary1);
    margin-left: 0.5rem;
    margin-top: 1rem;
    text-shadow: 4px 4px 5px var(--secondary);
    font-size: 2.5rem;
}

/* "toDo-container page" styles */

.toDo-full-Page .todo-container {
    margin-top: 3rem;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.todo-container .AddTask {
    height: 75vh;
    width: 45%;
    background-color: var(--tertiary1);
    border-radius: 0.5rem;
}

.todo-container .AddTask {
    padding: 1.5rem;
}

.todo-container .AddTask form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.todo-container .AddTask form h3 {
    color: var(--secondary);
    text-align: center;
    transform: translate(-4%, -4%);
    font-size: 2rem;
    margin-bottom: 0.5rem;
    /* text-shadow: 2.5px 2.5px 4px var(--primary); */
    text-shadow: 4px 4px 5px var(--secondary);
}

.todo-container .AddTask form input,
.todo-container .AddTask form textarea {
    padding: 0.5rem;
    border: 2px solid var(--secondary);
    border-radius: 0.3rem;
    font-size: 1rem;
    outline: none;
    font-family: Aeonik;
    font-size: 1.2rem;
    background-color: var(--tertiary2);
    color: var(--neutral);
}

.todo-container .mark-imp {
    background-color: var(--tertiary2);
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.3rem;
    border: 2px solid var(--secondary);
    padding: 0.5rem;
}

.todo-container .mark-imp #check {
    scale: 1.3;
}

.todo-container .mark-imp label {
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
}

.todo-container .AddTask form button {
    padding: 0.6rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--secondary);
    color: var(--tertiary2);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.35s ease;
    box-shadow: 1px 2px 7px var(--secondary);
}

.todo-container .AddTask form button:hover {
    box-shadow: 1px 2px 7px var(--primary);
}

.todo-container .AddTask form button:active {
    scale: 0.98;
}

/* "All-tast page" styles */

.todo-container .allTask {
    height: 100%;
    background-color: var(--tertiary1);
    width: 50%;
    border-radius: 0.5rem;
}

.todo-container .allTask {
    padding: 1.5rem;
    overflow: auto;
    height: 75vh;
}

.todo-container .allTask>h3 {
    text-align: center;
    font-size: 1.8rem;
    color: var(--secondary);
    /* text-shadow: 2.5px 2.5px 4px var(--primary); */
    text-shadow: 4px 4px 5px var(--secondary);
}

.allTask .eachTask {
    background-color: var(--tertiary2);
    padding: 0.9rem 0.8rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 7px var(--secondary);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.allTask .eachTask:hover {
    box-shadow: 2px 4px 10px var(--secondary);
    transform: scale(1.005);
}

.allTask .eachTask:active {
    transform: scale(0.99);
}

.allTask .eachTask {
    margin-top: 1rem;
    position: relative;
}

.allTask .eachTask h3 {
    color: var(--secondary);
    font-size: 1.2rem;
}

.allTask .eachTask span {
    position: absolute;
    top: 0.2rem;
    left: 7rem;
    color: var(--tertiary1);
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
    background-color: #2a2a2a;
    text-align: center;
}

.allTask .eachTask span.true {
    opacity: 1;
}

.allTask .eachTask span.false {
    opacity: 0;
}

.allTask .eachTask button {
    padding: 0.5rem 0.6rem;
    min-width: fit-content;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--secondary);
    color: var(--tertiary2);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 1px 2px 7px var(--secondary);
}

.allTask .eachTask button:hover {
    box-shadow: 1px 2px 7px var(--primary);
}

.allTask .eachTask button:active {
    scale: 0.99;
    box-shadow: 1px 2px 7px var(--secondary);
}

/* ================================
    "dailyPlanner Full Page" styles
=================================== */

.dailyPlanner-full-Page .dailyPlanner-container {
    background-color: var(--secondary);
    height: 87%;
    margin: 0.8rem 0.6rem;
    border-radius: 0.3rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
}

.dailyPlanner-features {
    position: relative;
}

.dailyPlanner-features input {
    background-color: var(--tertiary1);
    margin-bottom: 1rem;
    outline: none;
    border: none;
    border-radius: 0.15rem;
    padding: 1.2rem 0.8rem;
    font-size: 1.1rem;
    min-width: 40vw;
    color: var(--neutral);
    opacity: 1;
    box-shadow: 2px 2px 5px var(--primary);

    transition: all 0.4s ease;
}

.dailyPlanner-features input:hover {
    box-shadow: 1px 2px 5px var(--tertiary1);
}

.dailyPlanner-features p {
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    left: 0.4rem;
    top: 0.1rem;
    opacity: 1;
    color: var(--neutral);
}

/* ================================
    "Motivational Full Page" styles
=================================== */

.motivation-full-Page {
    background-color: var(--secondary);
}

.motivation-full-Page h1 {
    color: var(--tertiary1);
    text-shadow: 4px 4px 5px var(--primary);
}

.motivation-full-Page .bottom-motivational-page {
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bottom-motivational-page .motivational-page-wrapper {
    background: conic-gradient(var(--tertiary1), var(--secondary));
    padding: 1rem;
    width: 50rem;
    border-radius: 0.8rem;
    box-shadow: 4px 4px 10px var(--primary);
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    color: whitesmoke;
    transition: all 0.45s ease;
}

.bottom-motivational-page .motivational-page-wrapper:hover {
    box-shadow: 6px 6px 14px var(--primary);
    scale: 1.01;
}

.motivational-page-wrapper h2 {
    text-align: center;
    color: var(--primary);
    text-shadow: 4px 2px 7px var(--primary);
    font-size: 1.8rem;
}

.motivational-page-wrapper p {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.4rem;
    align-self: center;

    color: var(--neutral);
}

.motivational-page-wrapper p span {
    font-size: 1.7rem;
}

.motivational-page-wrapper h3 {
    align-self: flex-end;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
    font-weight: bold;
    color: var(--primary);
    font-size: 1.7rem;
}


/* ================================
    "Pomodore timer full page" styles
=================================== */

.pomodoro-full-Page .stop-watch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.times-wrapper .timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.times-wrapper .timer h1 {
    font-size: 3.5rem;
    background: linear-gradient(to left, var(--secondary), var(--primary));
    box-shadow: 2px 3px 5px var(--tertiary1);
    padding: 0.4rem;
}

.times-wrapper .timer-buttons {
    align-self: center;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.times-wrapper .timer-buttons button {
    border: none;
    padding: 0.2rem 0.6rem;
    font-size: 1.6rem;
    border-radius: 0.2rem;
    background: linear-gradient(to right, var(--secondary), var(--tertiary1));
    color: var(--neutral);
    box-shadow: 2px 2px 5px var(--neutral);
    cursor: pointer;
    transition: all 0.3s ease;
}

.timer-buttons button:hover {
    box-shadow: 4px 2px 10px var(--neutral);
    scale: 1.03;
}

.timer-buttons button:active {
    scale: 0.98;
}

.timer-buttons .start {
    margin-right: 1rem;
}

.timer-buttons .pause {
    margin-right: 1rem;
}

.timer-buttons .reset {
    margin-right: 1rem;
}

/* ================================
    DAILY GOALS – STICKY NOTE
================================ */

.dailyGoals {
    display: flex;
    justify-content: center;
    align-items: center;
}

.daily-goals-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* Sticky note */
.sticky-note {
    background: linear-gradient(145deg,
            var(--tertiary1),
            var(--tertiary2));
    width: 360px;
    min-height: 420px;
    padding: 1.2rem;
    border-radius: 0.4rem;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
    transform: rotate(-1deg);
    position: relative;
    font-family: Aeonik;
}

/* pin */
.sticky-note::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 18px;
    background: var(--primary);
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

/* title */
.sticky-note h2 {
    text-align: center;
    color: var(--primary);
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px var(--secondary);
}

/* list */
.goals-list {
    list-style: none;
    max-height: 260px;
    overflow-y: auto;
    padding-right: 0.3rem;
}

.goals-list li {
    background: var(--tertiary2);
    padding: 0.45rem 0.6rem;
    margin-bottom: 0.6rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: var(--neutral);
    box-shadow: 2px 2px 6px var(--secondary);
}

/* delete btn */
.goals-list button {
    background: none;
    border: none;
    color: var(--primary);
    font-size: 1.2rem;
    cursor: pointer;
}

/* input area */
.goal-input {
    display: flex;
    gap: 0.6rem;
    margin-top: 0.8rem;
}

.goal-input input {
    flex: 1;
    padding: 0.4rem;
    border-radius: 0.25rem;
    border: 2px solid var(--secondary);
    outline: none;
    font-family: Aeonik;
    background-color: var(--tertiary2);
    color: var(--neutral);
}

.goal-input button {
    background: linear-gradient(to right,
            var(--secondary),
            var(--primary));
    color: var(--tertiary2);
    border: none;
    padding: 0.35rem 0.7rem;
    font-size: 1.4rem;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 2px 2px 6px var(--primary);
}

.goal-input button:hover,
.goals-list button:hover {
    scale: 1.05;
}

/* ================================
    DAILY GOALS – STICKY NOTE
================================ */

.weather-fetching-dashboard {
    background-color: var(--primary);
    color: var(--neutral);
    padding: 0.8rem;
}

.weather-fetching-dashboard-wrapper {
    background: linear-gradient(to right, var(--secondary), var(--primary));
    box-shadow: 2px 2px 4px var(--secondary);
    padding: 1.2rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-between;
    min-height: 15rem;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
}

.weather-fetching-dashboard-wrapper:hover {
    box-shadow: 3px 2px 10px var(--textColor);
}

.weather-fetching-dashboard-wrapper .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    font-size: 1.5rem;
}

.left h2 {
    text-shadow: 4px 2px 5px var(--neutral);
}

.left h3 {
    text-shadow: 2px 2px 3px var(--primary);
    font-weight: bold;
    font-size: 1.4rem;
}

.weather-fetching-dashboard-wrapper .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    color: var(--secondary);
    text-shadow: 2px 2px 4px var(--textColor);
}

.weather-fetching-dashboard-wrapper .right h3 {
    font-size: 2.7rem;
    font-weight: normal;
}

.weather-fetching-dashboard-wrapper .right p {
    font-size: 1.1rem;
}



@media (max-width: 750px) {

    .fullElem .backBtn {
        top: 0.8rem;
        right: 0.8rem;
        padding: 0.2rem 0.6rem;
        font-size: 1.2rem;
    }

    .fullElem h1 {
        margin-top: 1.3rem;
    }

    /* =============================
        "toDo full page" Media Query
    ================================ */

    .toDo-full-Page {
        height: auto;
    }

    .toDo-full-Page h1 {
        font-size: 1.8rem;
    }

    .toDo-full-Page .todo-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .todo-container .AddTask {
        width: 100%;
        height: auto;
    }

    .todo-container .allTask {
        overflow: auto;
        width: 100%;
        height: 65vh;
    }

    .todo-container .AddTask form h3 {
        font-size: 1.5rem;
        transform: none;
    }

    .todo-container .AddTask form input,
    .todo-container .AddTask form textarea {
        font-size: 1rem;
    }

    .allTask .eachTask {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.6rem;
    }

    .allTask .eachTask span {
        position: static;
    }


}

@media (min-width: 820px) {

    /* =============================
        "toDo full page" Media Query
    ================================ */
    section.allElems {
        height: 100%;
    }


}

@media (min-width: 750px) {

    /* =============================
        "toDo full page" Media Query
    ================================ */
    .toDo-full-Page {
        height: 100%;
    }
}

@media (min-width: 1020px) {
    /* .bottom-motivational-page .motivational-page-wrapper {
        width: 300px;
    } */
}

@media (max-width: 370px) {
    .times-wrapper .timer-buttons button {
        font-size: 1.2rem;
    }

    .timer-buttons .start {
        margin-right: 0.5rem;
    }

    .timer-buttons .pause {
        margin-right: 0.5rem;
    }

    .timer-buttons .reset {
        margin-right: 0.5rem;
    }

    .times-wrapper .timer h1 {
        font-size: 2.8rem;
    }
}

@media (max-width: 580px) {

    .weather-fetching-dashboard-wrapper {
        background: linear-gradient(to top, var(--tertiary2), var(--secondary));
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .weather-fetching-dashboard-wrapper .left h2 {
        font-size: 1.5rem;
    }

    .weather-fetching-dashboard-wrapper .left h3 {
        font-size: 1.2rem;
    }

    .weather-fetching-dashboard-wrapper .right {
        gap: 0rem;
    }

    .weather-fetching-dashboard-wrapper .right h3 {
        font-size: 2rem;
        font-weight: bold;
    }
}